.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background-primary);
}

.auth-page__login-button {
  min-width: 180px;
}
