*, *::before, *::after {
  box-sizing: border-box;
}

/* Сброс стилей для заголовков и параграфов */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}
