*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}
